<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <pluginGroups>
    <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
  </pluginGroups>
  <servers>
    <!-- HOME Artifactory server-->
    <!--
    <server>
      <username>admin</username>
      <password>{2Gb/m2veivgH7UV4djiyrlVRl+tmyPZ10n66O5unx17J50JkTt7SoU2th5YZPidQF8B8VhusWXzu9j5UKpkHqatnrj7OA54c380+M3qGgAgDf2kl5K65LmEJ8DjO30CxU/rtu4cdaZS3NsioY+CEj0O3ocg8EdWCSS0M1+K9wws=}</password>
      <id>central</id>
    </server>
    <server>
      <username>admin</username>
      <password>{2Gb/m2veivgH7UV4djiyrlVRl+tmyPZ10n66O5unx17J50JkTt7SoU2th5YZPidQF8B8VhusWXzu9j5UKpkHqatnrj7OA54c380+M3qGgAgDf2kl5K65LmEJ8DjO30CxU/rtu4cdaZS3NsioY+CEj0O3ocg8EdWCSS0M1+K9wws=}</password>
      <id>snapshots</id>
    </server>
    -->
    <!-- HOME Artifactory server end-->

    <!-- HOME Nexus server -->
    <server>
      <id>nexus</id>
      <username>admin</username>
      <password>{AMHD408I88oHtHSHtc08TElc9WE3jBOgcUwpQ2HzeOc=}</password>
    </server>
    <!-- HOME Nexus server end -->

  </servers>
  <profiles>
    <!-- HOME Artifactory repos-->
    <!--
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>libs-release</name>
          <url>http://tinker.paulhoang.com:8081/artifactory/libs-release</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>libs-snapshot</name>
          <url>http://tinker.paulhoang.com:8081/artifactory/libs-snapshot</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>libs-release</name>
          <url>http://tinker.paulhoang.com:8081/artifactory/libs-release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>libs-release</name>
          <url>http://tinker.paulhoang.com:8081/artifactory/libs-release</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
    -->

    <!-- profile to route things from the mirror to these profiles -->
    <profile>
      <id>nexus</id>
      <!--Enable snapshots for the built in central repo to direct -->
      <!--all requests to nexus via the mirror -->
      <repositories>
        <repository>
          <id>central</id>
          <url>http://tinker.paulhoang.com:8081/repository/maven-releases/</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </repository>
        <repository>
          <id>snapshots</id>
          <url>http://tinker.paulhoang.com:8081/repository/maven-snapshots</url>
          <releases><enabled>false</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://tinker.paulhoang.com:8081/repository/maven-releases/</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>snapshots</id>
          <url>http://tinker.paulhoang.com:8081/repository/maven-snapshots/</url>
          <releases><enabled>false</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>

  </profiles>
  <activeProfiles>
    <!-- <activeProfile>artifactory</activeProfile> -->
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
</settings>
